#Question 1#

In [85]:
import pandas as pd
import numpy as np
import re
def answer_one():
    energy = pd.read_excel('Energy_Indicators.xls')
    energy = energy.drop(energy.columns[[0, 1]], axis=1)
    energy = energy[17:244]
    energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy['Energy Supply'] *= 1000000
    energy.replace('...', np.nan,inplace = True)
    country_renames = { "Republic of Korea": "South Korea",
                        "United States of America": "United States",
                        "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                        "China, Hong Kong Special Administrative Region": "Hong Kong" }
    energy['Country'] = energy['Country'].replace(country_renames)
    energy['Country'] = energy['Country'].apply(lambda name: re.sub(r'(\d+|\s*\(.*\))', '', name).strip())
    
    GDP=pd.read_csv('world_bank.csv', skiprows=4)
    GDP['Country Name'].replace({'Korea, Rep.':'South Korea','Iran, Islamic Rep.':'Iran','Hong Kong SAR, China':'Hong Kong'},inplace=True)
    GDP.rename(columns={'Country Name':'Country'},inplace=True)
    pd.set_option('display.max_rows', GDP.shape[0]+1)
    ScimEn=pd.read_excel('scimagojr country rank 1996-2022.xlsx')
    ScimEn=ScimEn[0:15]
    df=pd.merge(ScimEn, energy , how = 'inner' , left_on = 'Country' , right_on = 'Country')
    df_all=pd.merge(df,GDP, how = 'inner' , left_on = 'Country' , right_on = 'Country')
    df_all=df_all.set_index('Country')
    df_all=df_all[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    return df_all

answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,360468,358777,3947871,2721067,10.95,308,127191000000,93.0,19.754910,2.752119e+12,3.550328e+12,4.594337e+12,5.101691e+12,6.087192e+12,7.551545e+12,8.532186e+12,9.570471e+12,1.047562e+13,1.106157e+13
India,3,76103,74167,760964,284470,10.00,217,33195000000,26.0,14.969080,9.402599e+11,1.216736e+12,1.198895e+12,1.341888e+12,1.675616e+12,1.823052e+12,1.827638e+12,1.856721e+12,2.039126e+12,2.103588e+12
Japan,4,56249,55680,633294,142908,11.26,217,18984000000,149.0,10.232820,4.601663e+12,4.579750e+12,5.106679e+12,5.289494e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
Germany,6,47781,46767,641717,136121,13.43,230,13261000000,165.0,17.901530,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,43567,43290,175721,81059,4.03,103,30709000000,214.0,17.288680,9.899321e+11,1.299703e+12,1.660848e+12,1.222646e+12,1.524917e+12,2.045923e+12,2.208294e+12,2.292470e+12,2.059242e+12,1.363482e+12
Canada,8,39036,38276,787010,128387,20.16,263,10431000000,296.0,61.945430,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,35991,34424,529459,125153,14.71,192,6530000000,109.0,33.667230,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,35294,35005,503147,88993,14.26,182,11007000000,221.0,2.279353,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
Iran,11,29776,29448,511199,151184,17.17,179,9172000000,119.0,5.707721,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
France,12,29351,28759,471469,81389,16.06,205,10597000000,166.0,17.020280,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Spain,13,27880,27272,515485,90639,18.49,202,4923000000,106.0,37.968590,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324751e+12,1.355580e+12,1.371821e+12,1.196157e+12
Australia,14,25906,25237,495278,73639,19.12,212,5386000000,231.0,11.810810,7.479074e+11,8.544273e+11,1.055686e+12,9.286298e+11,1.148570e+12,1.398456e+12,1.546953e+12,1.576330e+12,1.467590e+12,1.350580e+12
Brazil,15,25887,25493,260540,61982,10.06,145,12149000000,59.0,69.648030,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12

#Question 2#

In [11]:
def answer_two():
    Top15=answer_one()
    gdp_columns = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    avgGDP = Top15[gdp_columns].mean(axis=1).sort_values(ascending=False)

    return avgGDP
answer_two()

Country
China                 6.927707e+12
Japan                 5.239642e+12
Germany               3.523342e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400886e+12
South Korea           1.221372e+12
Australia             1.207513e+12
Iran                  4.563261e+11
dtype: float64

#Question 3#

In [15]:
def answer_three():
    Top15=answer_one()
    avgGDP = answer_two().sort_values(ascending=False)
    country_6th_largest = avgGDP.index[5]
    gdp_change = Top15.loc[country_6th_largest]['2015'] - Top15.loc[country_6th_largest]['2006']
    return gdp_change
answer_three()

694585288119.1501

#Question 4#

In [21]:
def answer_four():
    Top15 = answer_one()
    Top15['Citations Ratio'] = Top15['Self-citations'] / Top15['Citations']
    max_ratio = Top15['Citations Ratio'].max()
    country_max_ratio = Top15[Top15['Citations Ratio'] == max_ratio].index[0]
    return (country_max_ratio, max_ratio)

answer_four()

('China', 0.689249218122882)

#Question 5#

In [24]:
def answer_five():
    Top15=answer_one()
    population=Top15['Energy Supply']/Top15['Energy Supply per Capita']
    Top15=Top15.assign(Population=population)
    populous_country=population.sort_values(ascending=False)
    populous_country=populous_country.index[2]
    return populous_country
answer_five()

'Brazil'

#Question 6#

In [70]:
def answer_six():
    Top15=answer_one()
    number = Top15['Citable documents'] / (Top15['Energy Supply'] / Top15['Energy Supply per Capita'])
    number = pd.to_numeric(number, errors='coerce')
    energy_supply = number.corr(Top15['Energy Supply per Capita'])
    return energy_supply
answer_six()

0.8157844438612394

#Question 7#

In [91]:
def answer_seven():
    Top15 = answer_one()
    
    ContinentDict = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Continent'] = [ContinentDict[country] for country in Top15.index]
    grouped = Top15.groupby('Continent')['Population'].agg(['size', 'sum', 'mean', 'std'])
    
    return grouped

answer_seven()

               size               sum          mean           std
Continent
Asia              5   2898666386.6106  5.797333e+08  6.790979e+08
Australia         1   23316017.316017  2.331602e+07           NaN
Europe            5  394058699.474436  7.881174e+07  3.813228e+07
North America     1   35239864.864865  3.523986e+07           NaN
South America     1  205915254.237288  2.059153e+08           NaN